* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.app {
    padding: 30px;
}

.backToTop {
  margin-bottom: 2.5rem;
  text-align: center;
}

.backtotop-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-size: 14px;
  padding: 10px 15px;

  cursor: pointer;
}
